
<div class="main-div loginBackground"  >
    
  
  <mat-card class="example-card z-depth center" flex="50">
  <mat-card-header>
    
    <mat-card-title><h1>Login Company Details</h1></mat-card-title>
   
  </mat-card-header>
  
  <mat-card-content>
    <form class="example-form">
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="User ID/Employee ID" [(ngModel)]="userData.userID" name="userid">
        </mat-form-field></td>
        
      </tr></table>
    
      <table class="example-full-width" cellspacing="0"><tr>
          <td>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="userData.password" name="userpass">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
        
        </td>
          
        </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button color="accent" (click)="checkLogin()">Login</button>
  
  </mat-card-actions>
</mat-card>

</div>
