.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 400px;
    
  }

  .center{
    width: 75%;
    margin: 10px auto;
  }
  
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginBackground {
    background-image: url(http://4.bp.blogspot.com/-YOykCjKvCL4/UGz_GthApMI/AAAAAAAAAhU/OQQXH1Q1A1Y/s1600/nordic_landscapes-wide.jpg);
    background-size: cover;
    
  }
  